#good-luck {
	width: 100%;
	height: 300px;
	background-color: $primary;
	color: $accent;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Merriweather', serif;
	h1 {
		font-size: 3rem;
	}
}

footer {
	background-color: $primary;
	text-align: center;
	color: $accent;
	padding-bottom: 8px;
}